name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:
  workflow_call:
permissions: { }
env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
jobs:
  test:
    name: Tests
    continue-on-error: true
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        dotnet:
          - 8.0.302
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit
          disable-telemetry: true
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false
      - name: Setup Dotnet ${{ matrix.dotnet }}
        id: dotnet-setup
        uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Dotnet restore
        run: dotnet restore --locked-mode
      - name: Dotnet build
        run: dotnet build --configuration Release --no-restore
      - name: Test with dotnet
        continue-on-error: true
        run: dotnet test --configuration Release --no-restore --logger "trx;LogFileName=test-results.trx" --results-directory "TestResults"
      - name: Upload dotnet test results artifacts
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
        with:
          name: dotnet-${{ steps.dotnet-setup.outputs.dotnet-version }}-tests-on-${{ matrix.os }}
          path: TestResults
        if: ${{ always() }}
  test-check:
    name: Fail if tests failed
    runs-on: ubuntu-latest
    needs:
      - test
    if: ${{ always() }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit
          disable-telemetry: true
      - name: Check for failed tests
        run: |
          echo "::debug::Checking for failed tests..."
          echo "::debug::Job result: ${{ needs.test.result }}"
          for job in "${{ needs.test.result }}"; do
            if [[ "$job" == "failure" ]]; then
              echo "::error Some matrix jobs failed."
              exit 1
            fi
          done
          echo "All tests succeeded."
