name: 'Test Report'
on:
  workflow_run:
    workflows: [ 'CI' ]
    types:
      - completed
permissions: { }
jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit
          disable-telemetry: true

      - uses: dorny/test-reporter@9098107e2aa7ed7d1150f776ddea55f55c80016b # v1
        name: Upload dotnet test results summary
        with:
          artifact: /dotnet-(.*)-tests-on-(.*)/
          name: 'dotnet-$1-tests-on-$2'
          path: '*.trx'
          reporter: dotnet-trx
